In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
from sklearn.model_selection import GridSearchCV

In [2]:
tourney_result = pd.read_csv('../input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MNCAATourneyCompactResults.csv')

In [3]:
#Cleaning Up Tourney Results

tourney_result = tourney_result.drop(['DayNum', 'WScore', 'LScore', 'WLoc', 'NumOT'],axis=1)
tourney_result

      Season  WTeamID  LTeamID
0       1985     1116     1234
1       1985     1120     1345
2       1985     1207     1250
3       1985     1229     1425
4       1985     1242     1325
5       1985     1246     1449
6       1985     1256     1338
7       1985     1260     1233
8       1985     1314     1292
9       1985     1323     1333
10      1985     1326     1235
11      1985     1328     1299
12      1985     1374     1330
13      1985     1385     1380
14      1985     1396     1439
15      1985     1424     1361
16      1985     1104     1112
17      1985     1130     1403
18      1985     1181     1337
19      1985     1208     1455
20      1985     1210     1273
21      1985     1228     1318
22      1985     1268     1275
23      1985     1272     1335
24      1985     1276     1192
25      1985     1298     1261
26      1985     1301     1305
27      1985     1393     1177
28      1985     1412     1277
29      1985     1431     1409
...      ...      ...      ...
2221    2019     1199     1293
2222    2019     1211     1124
2223    2019     1246     1459
2224    2019     1261     1268
2225    2019     1276     1196
2226    2019     1277     1278
2227    2019     1345     1437
2228    2019     1181     1416
2229    2019     1222     1326
2230    2019     1314     1449
2231    2019     1332     1414
2232    2019     1397     1234
2233    2019     1403     1138
2234    2019     1438     1328
2235    2019     1439     1251
2236    2019     1211     1199
2237    2019     1345     1397
2238    2019     1403     1276
2239    2019     1438     1332
2240    2019     1120     1314
2241    2019     1181     1439
2242    2019     1246     1222
2243    2019     1277     1261
2244    2019     1403     1211
2245    2019     1438     1345
2246    2019     1120     1246
2247    2019     1277     1181
2248    2019     1403     1277
2249    2019     1438     1120
2250    2019     1438     1403

[2251 rows x 3 columns]

In [4]:
#Reading KenPom Values
import os, glob

path = '../input/kenpom/'

all_kenpom = glob.glob(os.path.join(path, "*.csv"))

all_df = []
for f in all_kenpom:
    df = pd.read_csv(f, sep=',')
    df['Season'] = '20' + f.split('/kenpom\summary')[-1]
    all_df.append(df)
    
merged_df = pd.concat(all_df, ignore_index=True, sort=True)

merged_df['Season'] = merged_df['Season'].str.slice(0,4,1)



kenpom_data = merged_df[['AdjEM','AdjOE','AdjDE','AdjTempo','Season', 'TeamName']]

kenpom_data

          AdjEM     AdjOE     AdjDE  AdjTempo Season            TeamName
0     34.022000  121.3740   87.3522   73.9016   2002                Duke
1     30.844200  117.4480   86.6033   66.9485   2002          Cincinnati
2     27.788300  118.1000   90.3113   77.6019   2002              Kansas
3     26.853400  118.1510   91.2974   73.3263   2002            Maryland
4     25.717600  115.3870   89.6694   69.5612   2002             Florida
5     24.863700  113.3060   88.4422   65.8584   2002            Oklahoma
6     24.123600  119.9240   95.8006   70.5594   2002              Oregon
7     22.921300  112.5950   89.6736   64.7779   2002             Indiana
8     22.261500  113.2980   91.0361   64.5763   2002           Marquette
9     22.179200  112.5360   90.3566   67.6361   2002            Kentucky
10    21.914900  114.7960   92.8809   68.6908   2002            Illinois
11    21.823200  112.8200   90.9967   69.4315   2002                 USC
12    21.819900  119.2120   97.3917   71.2261   2002             Arizona
13    21.050900  116.8570   95.8058   69.5528   2002            Stanford
14    20.828500  116.8920   96.0636   66.4133   2002            Ohio St.
15    20.018100  114.1770   94.1585   67.8101   2002             Alabama
16    19.795200  116.2950   96.4997   67.9914   2002             Gonzaga
17    19.336200  115.8990   96.5628   64.1921   2002            Kent St.
18    19.272800  111.8040   92.5312   63.3188   2002          Pittsburgh
19    18.963200  111.7970   92.8341   67.6977   2002     Mississippi St.
20    18.837100  116.0910   97.2536   69.2028   2002             Georgia
21    18.778200  106.8590   88.0810   64.6221   2002      South Carolina
22    18.709500  111.2430   92.5336   66.4403   2002              Xavier
23    18.549900  110.5790   92.0294   68.9657   2002         Connecticut
24    18.385400  114.2240   95.8383   64.2148   2002         Mississippi
25    18.257300  112.1690   93.9116   67.2156   2002  North Carolina St.
26    17.767800  115.3190   97.5508   68.1446   2002          Notre Dame
27    17.324900  114.2620   96.9368   69.7493   2002          Texas Tech
28    17.201700  113.2900   96.0881   62.9567   2002        Michigan St.
29    17.032100  111.0380   94.0056   61.7509   2002              Butler
...         ...       ...       ...       ...    ...                 ...
6127 -11.222400   89.9670  101.1890   67.8851   2019                UTEP
6128   1.656870  105.8290  104.1720   72.0201   2019                UTSA
6129  -4.915160   98.0434  102.9590   65.1480   2019          Valparaiso
6130   0.819325  102.1120  101.2920   67.1671   2019          Vanderbilt
6131  15.685800  104.4270   88.7410   68.2479   2019                 VCU
6132   8.721550  108.1370   99.4159   65.3836   2019             Vermont
6133  18.775200  117.0950   98.3195   63.6750   2019           Villanova
6134  35.652600  123.6930   88.0404   59.3365   2019            Virginia
6135  24.467500  118.5510   94.0834   63.3196   2019       Virginia Tech
6136 -10.039100  102.3490  112.3880   71.4919   2019                 VMI
6137 -13.442400   93.8852  107.3280   63.7052   2019              Wagner
6138  -0.197863  104.7290  104.9270   67.4660   2019         Wake Forest
6139  13.332500  107.0840   93.7514   65.9283   2019          Washington
6140  -4.316210  106.0150  110.3320   70.5265   2019      Washington St.
6141  -5.053330  101.4400  106.4930   71.0360   2019           Weber St.
6142   7.303260  109.1920  101.8890   70.2480   2019       West Virginia
6143  -9.215260  101.7650  110.9810   69.4279   2019    Western Carolina
6144 -10.971700   97.4303  108.4020   67.2475   2019    Western Illinois
6145   5.270790  104.9790   99.7084   67.6600   2019    Western Kentucky
6146  -7.636530   99.1136  106.7500   69.1301   2019    Western Michigan
6147   7.435860  106.0120   98.5762   67.8435   2019         Wichita St.
6148  -4.652410  103.4320  108.0850   68.5527   2019      William & Mary
6149  -1.206340  106.5210  107.7270   72.6379   2019            Winthrop
6150  23.666700  110.9310   87.2639   63.6610   2019           Wisconsin
6151  20.720600  118.4830   97.7629   65.7033   2019             Wofford
6152   4.312170  106.0490  101.7370   65.0445   2019          Wright St.
6153 -13.649500   95.0829  108.7320   68.3346   2019             Wyoming
6154  10.363200  110.9190  100.5560   64.8689   2019              Xavier
6155   8.272440  110.5520  102.2790   70.8110   2019                Yale
6156  -8.318290  104.0040  112.3220   66.9679   2019      Youngstown St.

[6157 rows x 6 columns]

In [5]:
team_names = pd.read_csv('../input/TeamSpellings.csv')

#all_names = pd.read_csv('../input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MTeams.csv')

#all_names = all_names.astype(str)

kenpom_data['TeamName'] = kenpom_data['TeamName'].str.lower()

kenpom_data = kenpom_data.merge(team_names, on='TeamName',how='left')

#kenpom_data.to_csv('test2.csv')

kenpom_data = kenpom_data.drop(['TeamName'],axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [6]:
df1 = tourney_result
df2 = kenpom_data

df1['Season']=df1['Season'].astype(int)
df1['WTeamID']=df1['WTeamID'].astype(int)
df1['LTeamID']=df1['LTeamID'].astype(int)

df2['Season']=df2['Season'].astype(int)
df2['TeamID']=df2['TeamID'].astype(int)


#tourney_result = pd.merge(tourney_result, kenpom_data, left_on=['Season','WTeamID'], right_on=['Season','TeamID'], how='left')

#inner join drops years 1985-2001 where KenPom data is not available

df1 = df1.merge(df2,left_on=['Season','WTeamID'],right_on=['Season','TeamID'], how="inner")
df1.rename(columns={'AdjOE':'WAdjOE','AdjDE':'WAdjDE','AdjEM':'WAdjEM','AdjTempo':'WAdjTempo'},inplace=True)
df1 = df1.drop(['TeamID'],axis=1)

df1 = df1.merge(df2,left_on=['Season','LTeamID'],right_on=['Season','TeamID'], how="inner")
df1.rename(columns={'AdjOE':'LAdjOE','AdjDE':'LAdjDE','AdjEM':'LAdjEM','AdjTempo':'LAdjTempo'},inplace=True)
df1 = df1.drop(['TeamID'],axis=1)

indexNames = df1[df1['Season']>2014].index

df1.drop(indexNames,inplace=True)

df1

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
df_win = df1.drop(['Season','WTeamID','LTeamID','WAdjOE','WAdjDE','LAdjOE','LAdjDE'],axis=1)
df_win.rename(columns={'WAdjEM':'AdjEM1', 'LAdjEM':'AdjEM2', 'WAdjTempo':'AdjTempo1', 'LAdjTempo':'AdjTempo2'}, inplace=True)
df_win

In [ ]:
df_lose = df_win.copy()
df_lose['AdjEM1'] = df_win['AdjEM2']
df_lose['AdjEM2'] = df_win['AdjEM1']
df_lose['AdjTempo1'] = df_win['AdjTempo2']
df_lose['AdjTempo2'] = df_win['AdjTempo1']
df_lose

In [ ]:
df_win['EM_diff'] = df_win['AdjEM1'] - df_win['AdjEM2']
df_lose['EM_diff'] = df_lose['AdjEM1'] - df_lose['AdjEM2']

df_win['result'] = 1
df_lose['result'] = 0

df_final = pd.concat((df_win,df_lose)).reset_index(drop=True)

#df_final

df_final = df_final.drop(['AdjTempo1','AdjTempo2','AdjEM1','AdjEM2'],axis=1)

In [ ]:
feature_cols=['EM_diff']
X = df_final[feature_cols]
y= df_final.result

#X_train = df_final.drop('result',axis=1)
#y_train = df_final.result
#X_train, y_train = shuffle(X_train, y_train)

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)

In [ ]:
logreg = LogisticRegression()
logreg.fit(X_train,y_train)
y_pred=logreg.predict(X_test)



#logreg = LogisticRegression()
#params = {'C':np.logspace(start=-5,stop=3,num=9)}
#clf = GridSearchCV(logreg,params,scoring='neg_log_loss',refit=True)
#clf.fit(X_train, y_train)
#print('Best log_loss: {:.4}, with best C: {}'.format(clf.best_score_, clf.best_params_['C']))

In [ ]:
from sklearn import metrics

cnf_matrix = metrics.confusion_matrix(y_test,y_pred)
cnf_matrix

In [ ]:
print('Accuracy:',metrics.accuracy_score(y_test, y_pred))
print('Precision:',metrics.precision_score(y_test, y_pred))
print('Recall:',metrics.recall_score(y_test, y_pred))
print('Log-Loss:',metrics.log_loss(y_test,y_pred))

In [ ]:
y_pred_proba = logreg.predict_proba(X_test)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_test, y_pred_proba)
auc = metrics.roc_auc_score(y_test, y_pred_proba)
plt.plot(fpr,tpr,label='data 1, auc='+str(auc))
plt.legend(loc=4)
plt.show()

In [ ]:
test_df = pd.read_csv('../input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MSampleSubmissionStage1_2020.csv')
test_df['Season'] = test_df['ID'].map(lambda x: int(x[:4]))
test_df['WTeamID'] = test_df['ID'].map(lambda x: int(x[5:9]))
test_df['LTeamID'] = test_df['ID'].map(lambda x: int(x[10:14]))
test_df

In [ ]:
kenpom_data
kenpom_datav2 = kenpom_data.drop(['AdjOE','AdjDE'],axis=1)

test_df = test_df.merge(kenpom_datav2, left_on=['Season','WTeamID'],right_on=['Season','TeamID'],how='left')
test_df.rename(columns={'AdjEM':'AdjEM1','AdjTempo':'AdjTempo1'},inplace=True)
test_df = test_df.drop('TeamID',axis=1)

test_df = test_df.merge(kenpom_datav2, left_on=['Season','LTeamID'],right_on=['Season','TeamID'],how='left')
test_df.rename(columns={'AdjEM':'AdjEM2','AdjTempo':'AdjTempo2'},inplace=True)
test_df = test_df.drop('TeamID',axis=1)

test_df

In [ ]:
test_df['EM_diff'] = test_df['AdjEM1'] - test_df['AdjEM2']
test_df = test_df.drop(['ID','Pred','Season','WTeamID','LTeamID','AdjTempo1','AdjTempo2','AdjEM1','AdjEM2'],axis=1)
test_df

In [ ]:
#test_df['AdjEM1'] = float(test_df['AdjEM1'])
#test_df['AdjTempo1'] = float(test_df['AdjTempo1'])
#test_df['AdjEM2'] = float(test_df['AdjEM2'])
#test_df['AdjTempo2'] = float(test_df['AdjTempo2'])
#test_df['EM_diff'] = float(test_df['EM_diff'])

#pd.isnull(test_df).sum()>0

#np.where(np.isnan(test_df))

#test_df.to_csv('testing.csv')

test_preds = logreg.predict_proba(test_df)[:, 1]
test_preds

In [ ]:
submission_df = pd.read_csv('../input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MSampleSubmissionStage1_2020.csv')
submission_df['Pred'] = test_preds
submission_df

In [ ]:
submission_df['Pred'].hist()

In [ ]:
submission_df.to_csv('../submissions/submission_v2.csv',index=False)